<template id="micro-text-entity-input-template">
    <div class="micro-input-wrapper">
        <div class="micro-content-resource" data-content="renderResource entity"></div>
        <p class="micro-content-input-progress micro-block">
            <i class="fa fa-spinner fa-spin"></i>
        </p>
        <button is="micro-button" type="button" class="action action-subtle" data-run="remove">
            <i class="fa fa-minus-circle"></i> Remove
        </button>
        <textarea
            data-oninput="input" data-onclick="input" data-onkeyup="input" data-onblur="input"
            data-onfocus="input"
        ></textarea>
        <!--<textarea
            name="text" placeholder="Text (optional)" data-value="or item.text ''"
        ></textarea>-->
        <footer class="micro-panel">
            <!--<button
                is="micro-button" type="button" class="listling-item-attach action"
                data-run="attach" data-onclick="onAttachClick"
            >
                <i class="fa fa-paperclip"></i> Attach
            </button>
            <input
                type="file" name="upload" data-onchange="onUploadChange"
                accept="image/bmp,image/gif,image/jpeg,image/png,image/svg+xml,.bmp,.gif,.jpg,.png,.svg"
            />-->
            <div class="listling-item-content-input-info">
                <button type="button" class="link">
                    <i class="fa fa-fw fa-info-circle"></i>
                </button>
                <micro-contextual>
                    <table>
                        <thead>
                            <tr>
                                <td>You type:</td>
                                <td>You get:</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>*Emphasized*</td>
                                <td><em>Emphasized</em></td>
                            </tr>
                            <tr>
                                <td>**Important**</td>
                                <td><strong>Important</strong></td>
                            </tr>
                            <tr>
                                <td>* List item</td>
                                <td>&nbsp;• List item</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="micro-panel">
                        <p>
                            Attach additional content like images, videos, … by
                            inserting a link.
                        </p>
                    </div>
                </micro-contextual>
            </div>
        </footer>
    </div>
</template>

<style>
    micro-text-entity-input > * {
        margin: calc(1.5rem / 4) 0;
    }

    micro-text-entity-input:not(.micro-text-entity-input-entity) > div > button,
    micro-text-entity-input:not(.micro-text-entity-input-previewing) .micro-content-input-progress {
        display: none;
    }

    .micro-content-resource:empty {
        display: none;
    }

    .micro-content-resource {
        padding: var(--micro-size-xs);
    }

    micro-text-entity-input footer {
        border-top: 1px solid var(--micro-color-delimiter);
    }

    .listling-item-content-input-info {
        margin-left: auto;
    }

    .listling-item-content-input-info micro-contextual {
        bottom: 100%;
    }

    .listling-item-content-input-info table {
        border-style: hidden;
    }

    .listling-item-content-input-info tbody td:first-child {
        font: 0.875em / 1.5 monospace, monospace;
    }
</style>
